process {
    withName:deepvariant {
        executor='slurm'
        queue="${params.queue_web}"
        cpus=16
        memory='40GB'
        time='4h'
        container = "${params.image_folder}deepvariant-1.4.0.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.deepvariant_raw_data}:/raw_data""
    }

}
