process {
    withName:ucsc_to_ensembl {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='2GB'
        time='4h'
        container = "${params.image_folder}deepvariant-1.4.0.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir --cleanenv --no-home"
    }
    withName:deepvariant {
        executor='slurm'
        queue="${params.queue}"
        cpus=18
        memory='40GB'
        time='23h'
        container = "${params.image_folder}deepvariant-1.4.0.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.deepvariant_raw_data}:/raw_data --cleanenv --no-home"
    }
    withName:filtering {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='20GB'
        time='8h'
        container = "${params.image_folder}deepvariant-1.4.0.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.deepvariant_raw_data}:/raw_data --cleanenv --no-home"
    }
    withName:subtractWT {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='20GB'
        time='6h'
        container = "${params.image_folder}rnaseq.python-3.8-2.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.samplestable}:${params.samplestable}"
    }


}
